---
import { cn } from 'astro-pure/utils'

type Props = {
  class?: string
  title: string
  index?: string
}

const { class: className, title, index } = Astro.props
---

<section class={cn('flex flex-col gap-y-5 md:flex-row md:gap-x-8 md:gap-y-0', className)}>
  <div class='md:min-w-36 md:max-w-36'>
    {
      index && (
        <p class='tech-label mb-2'>{index}</p>
      )
    }
    <h2 class='text-xl font-semibold tracking-tight'>{title}</h2>
  </div>
  <div class='flex flex-1 flex-col gap-y-3'>
    <slot />
  </div>
</section>
